@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body {
    padding: 5% 10%;
    font-size: 5 rem;
    background-color: rgb(222, 188, 19);
    font-family:'Bruno Ace SC', cursive;
    color: aliceblue;
}

ol {
    list-style-type: disc;
}

ul{
    list-style: disc;
    text-align: left;
}
ol li:nth-child(3){
color: blue;
}

::marker{
    color: brown;
    font-size: 1.5em;
    font-family: fantasy;
    /*content:"Play";
}